<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>8</data>
      <data>28</data>
      <data>28</data>
      <data>99</data>
      <data>127</data>
      <data>34</data>
      <data>62</data>
      <data>8</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>195</data>
      <data>255</data>
      <data>90</data>
      <data>126</data>
      <data>102</data>
      <data>90</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>8</data>
      <data>28</data>
      <data>42</data>
      <data>119</data>
      <data>42</data>
      <data>8</data>
      <data>8</data>
      <data>28</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>0</data>
      <data>24</data>
      <data>60</data>
      <data>102</data>
      <data>66</data>
      <data>126</data>
      <data>66</data>
      <data>90</data>
    </chardata>
  </character>
</charset>
